<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3 Image Upload Test</title>
</head>
<body>
    <h1>S3 이미지 업로드 테스트</h1>

    <!-- 이미지 업로드 폼 -->
    <h2>이미지 업로드</h2>
    <form action="/test/post/<%= type %>/<%= userId %> " method="POST" enctype="multipart/form-data">
        <input type="file" name="profileImg" accept="image/*" required>
        <label>이미지 유형: </label>
        <select name="type" required>
            <option value="user">User</option>
            <option value="product">Product</option>
        </select>
        <button type="submit">이미지 업로드</button>
    </form>


    <h2>상품 이미지 업로드</h2>
    <form action="/test/product/write" method="POST" enctype="multipart/form-data">
        이미지1<input type="file" name="productImg1" accept="image/*" required ><br>
        이미지2<input type="file" name="productImg2" accept="image/*" ><br>
        <label>이미지 유형: </label>
        <select name="type" required>
            <option value="user">User</option>
            <option value="product" selected>Product</option>
        </select>
        <button type="submit">이미지 업로드</button>
    </form>


    <!-- 업로드된 이미지 및 경로 -->
    <h2>프로필 이미지</h2>
    <% if (profileImgUrl && profileImgUrl !== '') { %>
        <img src="<%= profileImgUrl %>" alt="Uploaded Image" style="max-width: 300px;">
        <p>S3 이미지 URL: <a href="<%= profileImgUrl %>"><%= profileImgUrl %></a></p>
        <p>DB에 저장된 파일 경로: <%= filePath %></p>

    <% } else { %>
        <p>이미지가 업로드되지 않았습니다.</p>
    <% } %>

    <!-- 에러 메시지 표시 -->
    <% if (errorMessage) { %>
        <p style="color: red;"><%= errorMessage %></p>
    <% } %>
</body>
</html>
